.userinfo_tr{
    height: 25px;
    width: 100%;
}
th{
    width: 30%;
}
.userinfo_tr td{
    width: 300px;
}
.userinfo_tr input{
    margin-left: 100px;
    border: 0px;
    width: 70%;
    height: 20px;
}
input[type=submit]{
    float: right;
    width: 100px;
}
.userinfo_tr input[readonly]{
    background-color: rgba(0,0,0,0);

}