#cmttable{
	width: 1000px;
}
.cmtonebox{
	height: 25px;
}
.leftbox{
	width: 200px;
}
.leftbox div{
	display: inline;
}
.cmtidbox{
	width: 0px;
}
.cmtcntbox{
	width: 1000px;
}
.rightbox div{
	width: 90px;
}
.cmtdatebox{
	float: right;
}

.nbsp{
	width: 15px;
}
#showPageNum{
	clear: both;
}
#cmtcmtcontent{
	position: relative;
	left: 120px;
	width: 600px;
}