<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarmapper">

<resultMap type="CalDto" id="dtoMap">
 		<result property="calendar_no" column="CALENDAR_NO"/>
 		<result property="payment_group" column="PAYMENT_GROUP"/>
 		<result property="recipe_date" column="RECIPE_DATE"/>
 		<result property="recipe_name" column="RECIPE_NAME"/>
 		<result property="recipe_no" column="RECIPE_NO"/>
 		<result property="id" column="ID"/>
</resultMap>


	<select id="mycalendar"  resultMap="dtoMap">
		SELECT CALENDAR_NO, PAYMENT_GROUP, RECIPE_DATE, RECIPE_NAME, RECIPE_NO
		FROM CALENDAR
		WHERE ID = #{id}
	</select>

	
	<update id="updatecalendar" parameterType="CalDto">
		UPDATE  CALENDAR
  		SET  RECIPE_DATE =#{recipe_date}
  		WHERE CALENDAR_NO =#{calendar_no}
	</update>

	<insert id="insercalendar" parameterType="CalDto">
 		INSERT INTO CALENDAR
 		VALUES(CALENDARSEQ.NEXTVAL, #{payment_group}, #{recipe_date}, #{recipe_name}, #{recipe_no}, #{id})
 	</insert>

</mapper>