<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarmapper">

<resultMap type="CalDto" id="dtoMap">
 		<result property="calendar_no" column="CALENDAR_NO"/>
 		<result property="payment_group" column="PAYMENT_GROUP"/>
 		<result property="recipe_date" column="RECIPE_DATE"/>
 		<result property="recipe_name" column="RECIPE_NAME"/>
 		<result property="recipe_no" column="RECIPE_NO"/>
 		<result property="id" column="ID"/>
</resultMap>


	<select id="mycalendar"  resultMap="dtoMap">
		SELECT R.RECIPE_NAME, P.RECIPE_DATE, P.PAYMENT_NO, R.RECIPE_NO
		FROM RECIPE R, PAYMENT P
		WHERE ID = #{id}
	</select>

	
	<update id="updatecalendar" parameterType="CalDto">
		UPDATE  PAYMENT
  		SET  RECIPE_DATE =#{recipe_date}
  		WHERE ID=#{id} AND PAYMENT_NO=#{payment_no}
	</update>

	<insert id="insercalendar" parameterType="CalDto">
 		INSERT INTO CALENDAR
 		VALUES(#{id}, #{payment_group}, #{recipe_date}, #{recipe_name}, #{recipe_no}, #{ID})
 	</insert>

</mapper>