<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cartmapper">

	<select id="selectList" parameterType="String" resultType="cartDto">
		SELECT CART_NO, ID, RECIPE_NO, MATERIAL_NO
		FROM CART
		WHERE ID = #{value}
		ORDER BY CART_NO DESC
	</select>
	
	<select id="selectListRecipe" parameterType="String" resultType="cartDto">
		SELECT ID, RECIPE_NO
		FROM CART
		WHERE ID = #{value}
		GROUP BY ID, RECIPE_NO
		ORDER BY CART_NO DESC
	</select>
</mapper>
