<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="recipemapper">

	<select id="selectList" resultType="recipeDto">
		SELECT RECIPE_NO, RECIPE_NAME, RECIPE_IMG, RECIPE_CONTENT, RECIPE_NUTRIENT, RECIPE_CATEGORY, RECIPE_REG
		FROM RECIPE
	</select>
	
	<insert id="dummyInsert" parameterType="map">
		<foreach collection="lists" item="list" open="INSERT ALL" separator=" " close="SELECT * FROM DUAL">		
			INTO RECIPE
			VALUES(#{list.recipe_no}, #{list.recipe_name}, #{list.recipe_img}, #{list.recipe_content}, #{list.recipe_nutrient}, #{list.recipe_category},#{list.recipe_reg})
		</foreach>
	</insert>
	
	<update id="dummyUpdate" parameterType="map">
		<foreach collection="lists" item="list" separator=";" open="DECLARE BEGIN" close="; END;">
			UPDATE RECIPE
			SET	RECIPE_CONTENT = #{list.recipe_content}
			WHERE RECIPE_NO = #{list.recipe_no}
		</foreach>	
	</update>
	
	<select id="selectOne" parameterType="int" resultType="recipeDto">
		SELECT RECIPE_NO, RECIPE_NAME, RECIPE_IMG, RECIPE_CONTENT, RECIPE_NUTRIENT, RECIPE_CATEGORY, RECIPE_REG
		FROM RECIPE
		WHERE RECIPE_NO = #{recipe_no}
	</select>

</mapper>
